# Bengaluru House Prediction

### Applying polynomial regression

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
bhp = pd.read_csv('banglore.csv')
bhp.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
bhp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [4]:
for col in bhp.columns:
    print(bhp[col].value_counts())
    print('-'*45)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
---------------------------------------------
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
---------------------------------------------
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
---------------------------------------------
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
---------------------------------------------
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
---------------------------------------------
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
---------------------------------------------
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
---------------------------------------------
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
---------------------------------------------
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
---------------------------------------------

In [5]:
bhp.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [6]:
bhp.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [7]:
bhp.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [8]:
bhp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [9]:
bhp.location.value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [10]:
bhp.location = bhp.location.fillna('Rajajinagar')

In [11]:
bhp['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [12]:
bhp['size'] = bhp['size'].fillna('2 BHK')

In [13]:
bhp.bath = bhp.bath.fillna(bhp.bath.median())

In [14]:
bhp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [15]:
bhp['bhk'] = bhp['size'].str.split().str.get(0).astype(int)

In [16]:
bhp[bhp.bhk > 20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [17]:
bhp.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [18]:
def convert(x):
    temp = x.split('-')
    if (len(temp)) == 2:
        return (float(temp[0]) + float(temp[1]) / 2)
    try:
        return float(x)
    except:
        return None

In [19]:
bhp.total_sqft = bhp.total_sqft.apply(convert)

In [20]:
bhp.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [21]:
bhp.drop('size',axis=1,inplace=True)

In [22]:
bhp.head()

                   location  total_sqft  bath   price  bhk
0  Electronic City Phase II      1056.0   2.0   39.07    2
1          Chikka Tirupathi      2600.0   5.0  120.00    4
2               Uttarahalli      1440.0   2.0   62.00    3
3        Lingadheeranahalli      1521.0   3.0   95.00    3
4                  Kothanur      1200.0   2.0   51.00    2

# price per sqft

In [23]:
bhp['price_per_sqft'] = bhp.price * 100000 / bhp.total_sqft

In [24]:
bhp.head()

                   location  total_sqft  bath   price  bhk  price_per_sqft
0  Electronic City Phase II      1056.0   2.0   39.07    2     3699.810606
1          Chikka Tirupathi      2600.0   5.0  120.00    4     4615.384615
2               Uttarahalli      1440.0   2.0   62.00    3     4305.555556
3        Lingadheeranahalli      1521.0   3.0   95.00    3     6245.890861
4                  Kothanur      1200.0   2.0   51.00    2     4250.000000

In [25]:
bhp.location.value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Uvce Layout                         1
Abshot Layout                       1
Name: location, Length: 1306, dtype: int64

In [26]:
# to make location as 'others' which has less than 10 for that this is required as the names causes white spaces hence to remove it 
bhp.location = bhp['location'].apply(lambda x: x.strip())
location_count = bhp['location'].value_counts()

In [27]:
location_count

Whitefield                            541
Sarjapur  Road                        399
Electronic City                       304
Kanakpura Road                        273
Thanisandra                           237
                                     ...
1Channasandra                           1
Hosahalli                               1
Vijayabank bank layout                  1
near Ramanashree California resort      1
Abshot Layout                           1
Name: location, Length: 1295, dtype: int64

In [28]:
location_count_less_10 = location_count[location_count <= 10]
location_count_less_10

BTM 1st Stage                         10
Nagadevanahalli                       10
Basapura                              10
Sector 1 HSR Layout                   10
Dairy Circle                          10
                                      ..
1Channasandra                          1
Hosahalli                              1
Vijayabank bank layout                 1
near Ramanashree California resort     1
Abshot Layout                          1
Name: location, Length: 1054, dtype: int64

In [29]:
bhp.location = bhp.location.apply(lambda x:'others'  if x in location_count_less_10 else x)

In [30]:
bhp.location.value_counts()

others                2886
Whitefield             541
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: location, Length: 242, dtype: int64

In [31]:
# to check the outlier of a flat i.e 0.25 sqft
(bhp.total_sqft / bhp.bhk).describe()

count    13274.000000
mean       579.732987
std        392.247238
min          0.250000
25%        475.000000
50%        554.000000
75%        627.500000
max      26136.000000
dtype: float64

In [32]:
bhp = bhp[(bhp.total_sqft / bhp.bhk)>=300]

In [33]:
bhp.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1607.911902      2.559537    111.382401      2.650838     6278.292738
std     1277.977557      1.077938    152.077329      0.976678     4171.053803
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1120.000000      2.000000     49.000000      2.000000     4177.777778
50%     1302.500000      2.000000     70.000000      3.000000     5273.281068
75%     1710.000000      3.000000    115.000000      3.000000     6896.551724
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [34]:
bhp['price_per_sqft'].describe()

count     12530.000000
mean       6278.292738
std        4171.053803
min         267.829813
25%        4177.777778
50%        5273.281068
75%        6896.551724
max      176470.588235
Name: price_per_sqft, dtype: float64

In [35]:
def rem_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        
        gen_df = subdf[(subdf.price_per_sqft > (m-st)) & (subdf.price_per_sqft <= (m+st))]
        df_output = pd.concat([df_output,gen_df],ignore_index=True)
    return df_output
bhp = rem_outliers_sqft(bhp)

In [36]:
bhp.describe()

         total_sqft         bath         price           bhk  price_per_sqft
count  10287.000000  10287.00000  10287.000000  10287.000000    10287.000000
mean    1517.904648      2.47176     91.305304      2.575872     5641.654913
std      903.645032      0.97517     86.528904      0.895390     2270.194350
min      300.000000      1.00000     10.000000      1.000000     1250.000000
25%     1110.000000      2.00000     49.000000      2.000000     4210.526316
50%     1290.000000      2.00000     67.000000      2.000000     5159.705160
75%     1650.000000      3.00000    100.000000      3.000000     6412.588374
max    30400.000000     16.00000   2200.000000     16.000000    24509.803922

In [37]:
def bhk_outlier_rem(df):
    exclude_indicies = np.array([]) #making an array to storing those indicies to exclude
    for location, location_df in df.groupby('location'): #getting location  and its subdataframe by groupby for every location
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'): # groupbying bhk based of locations
            bhk_stats[bhk] = {
                'mean' : np.mean(bhk_df.price_per_sqft),
                'std' : np.std(bhk_df.price_per_sqft),
                'count' : bhk_df.shape[0]
            }
#         print(location, bhk_stats)
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk - 1)
            if stats and stats['count'] > 5:
                exclude_indicies = np.append(exclude_indicies,bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indicies,axis='index')

In [38]:
bhp = bhk_outlier_rem(bhp)

In [39]:
bhp.shape

(7358, 6)

In [40]:
bhp

                  location  total_sqft  bath  price  bhk  price_per_sqft
0      1st Block Jayanagar      2850.0   4.0  428.0    4    15017.543860
1      1st Block Jayanagar      1630.0   3.0  194.0    3    11901.840491
2      1st Block Jayanagar      1875.0   2.0  235.0    3    12533.333333
3      1st Block Jayanagar      1200.0   2.0  130.0    3    10833.333333
4      1st Block Jayanagar      1235.0   2.0  148.0    2    11983.805668
...                    ...         ...   ...    ...  ...             ...
10278               others      1200.0   2.0   70.0    2     5833.333333
10279               others      1800.0   1.0  200.0    1    11111.111111
10282               others      1353.0   2.0  110.0    2     8130.081301
10283               others       812.0   1.0   26.0    1     3201.970443
10286               others      3600.0   5.0  400.0    4    11111.111111

[7358 rows x 6 columns]

In [41]:
bhp.drop('price_per_sqft',axis=1,inplace=True)

In [42]:
bhp.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [43]:
bhp.to_csv('cleaned_bengaluru_House_pred.csv')

In [59]:
X = bhp.drop('price',axis=1)
y = bhp.price

In [80]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.metrics import r2_score
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression, Lasso , Ridge

In [81]:
#APPLYING LINEAR REG
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [82]:
col_trans = make_column_transformer((OneHotEncoder(sparse=False),['location']),remainder= 'passthrough')

In [83]:
scaler = StandardScaler()

In [84]:
lr =LinearRegression(normalize=True)

In [85]:
pipe = make_pipeline(col_trans,scaler,lr)

In [86]:
pipe.fit(x_train,y_train)

C:\Users\rocky\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [87]:
y_pred = pipe.predict(x_test)

In [88]:
r2_score(y_test,y_pred)

0.8391890805598824

In [92]:
#APPLYING LASSO
las = Lasso()

In [93]:
pipe = make_pipeline(col_trans,scaler,las)

In [94]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [97]:
y_pred_las = pipe.predict(x_test)

In [98]:
r2_score(y_test,y_pred_las)

0.8315444728453546

In [101]:
rig = Ridge()
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [102]:
pipe = make_pipeline(col_trans,scaler,las)

In [103]:
y_pred_rig = pipe.predict(x_test)

In [104]:
r2_score(y_test,y_pred_rig)

0.8315444728453546